body{
    font-size: larger;
}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.navbar li {
    float: left;
  }
  
  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.navbar li a:hover:not(.active) {
    background-color: #111;
  }
  
  ul.navbar .active {
    background-color: #4CAF50;
  }

/* a { 
    margin:5px;
}
a.active{ 
    color: green; 
    font-weight: bold;
} */

table.table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 3px 1%;
    width: 98%;
    display: table;
}
table.table tr.header td,
td.header{
    font-weight: 900;
}
table.table tr td{
    padding: 5px 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.inline-block > element{
    display: inline-block;
    /* margin-bottom: 10px; */
}

.pager-container{
    display: inline-block;
    margin-bottom: 10px;
}
.pager-container span{
    margin-right: 10px;
}
.pager-container span input{
    width: 50px;
}

ul.warnings{
    list-style-type: circle;
    color: mediumvioletred;
}


.pull-right{
    float: right
}